<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test_bootstrap.php" 
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Unit Test">
            <directory>./tests/</directory>
            <exclude>./tests/integration</exclude>
        </testsuite>
        <testsuite name="All">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Integration Test">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SERVER_KEY" value="Mid-server-j8zX7BphWKLqS2mLD_QmvcNk"/>
        <env name="CLIENT_KEY" value="Mid-client-Ad7gHXF-3QtBXZ6V"/>
    </php>
</phpunit>
